@charset "UTF-8";

@import "normalize.css";

:root {
    --primary-color: #FF335F;
    --secondary-color: #2cb67d;
    --background: #fffff8;
    --foreground: #111;
    --gray: #666;
}

[data-theme="dark"] {
    --primary-color: #2cb67d;
    --secondary-color: #FF335F;
    --background: #222;
    --foreground: #fffff8;
    --gray: #EEE;
}

body {
    font-family: 'Alegreya', Georgia, serif;
    background-color: var(--background);
    color: var(--foreground);
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
}

p > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.2rem;
}

p,
ol,
ul {
    font-size: 1.4rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    line-height: 2rem;
    padding-right: 0;
    vertical-align: baseline;
}

a:link,
a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline var(--primary-color);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-style: italic;
    font-size: 1.6rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-links .home a:hover {
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0.3rem;
}

.external-links {
    list-style-type: none;
}

.external-links li {
    display: inline-block;
    padding: 0.3rem;
}

.nav-links li a {
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline var(--primary-color);
}

.nav-links li a.current-page {
    text-decoration: underline var(--secondary-color);
}

.nav-links li a.current-page:hover {
    text-decoration: underline var(--primary-color);
}

.external-links li a {
    text-decoration: none;
}

.github {
    color: var(--gray);
}

.centered {
    text-align: center;
}

.sans {
    font-family: 'Alegreya Sans', Calibri, sans-serif;
}

footer {
    color: var(--gray);
}

.social {
    list-style-type: none;
    margin: 0;
    padding: 0.3rem;
}

.social li {
    display: inline;
    padding: 0.2rem;
}

.heart {
    color: #C32148;
}

.home {
    color: var(--secondary-color);
}

.home:hover {
    color: var(--primary-color);
}

.site-title {
    color: var(--foreground);
}

/* article */

article {
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
}

article p:first-of-type {
    font-size: 1.6rem;
}

.article-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-ttr {
    font-size: 1.2rem;
    color: var(--gray);
}

.tags {
    font-size: 1.2rem;
    color: var(--gray);
    margin-right: 1em;
}

/* posts list */

.posts h1 {
    font-size: 2.3rem;
}

.posts ul {
    list-style-type: none;
    font-size: 1.6rem;
}

.tiny {
    font-size: 0.8rem;
}

.ttr {
    padding: 0.2rem;
    color: var(--gray);
}

.date {
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--gray);
}

/* about */

.about {
    width: 85%;
    margin: 0 auto;
}

/* tags */

.tag-link {
    padding: 0.1em;
    margin: 0;
}

.tag-link a {
    text-decoration: underline var(--tag-color);
}

.tag-link a:hover {
    color: var(--tag-color);
}

.tag-section h1 {
    text-transform: capitalize;
}

/* theme switch */

.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    background-color: var(--gray);
    border-radius: 20px;
    transition: all 0.3s;
}
.switch::after {
    content: '';
    position: absolute;
    width: .9em;
    height: .9em;
    border-radius: 50%;
    background-color: var(--background);
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.theme-toggle:checked + .switch::after {
    left : 1em;
}
.theme-toggle:checked + .switch {
    background-color: var(--primary-color);
}
.theme-toggle {
    display : none;
}

.theme-switch {
    margin-right: 1rem;
}
