@charset "UTF-8";

/* alegreya-sans-regular - latin */
@font-face {
    font-family: 'Alegreya Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/alegreya-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
         url('/fonts/alegreya-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/alegreya-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/alegreya-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/alegreya-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/alegreya-sans-v10-latin-regular.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}

/* alegreya-regular - latin */
@font-face {
    font-family: 'Alegreya';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/alegreya-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Regular'), local('Alegreya-Regular'),
         url('/fonts/alegreya-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/alegreya-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/alegreya-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/alegreya-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/alegreya-v13-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Alegreya', Georgia, serif;
    background-color: #fffff8;
    color: #111;
}

article {
    padding: 1rem 0rem;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
}

.mono {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
ol,
ul {
    font-size: 1.4rem;

}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    line-height: 2rem;
    padding-right: 0;
    vertical-align: baseline;
}

a:link,
a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline #FF335F;
}

h1 {
    font-size: 3.2rem;
}

.posts h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-style: italic;
    font-size: 1.6rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.article-meta {
    display: flex;
    justify-content: space-between;
}

.about {
    width: 70%;
    margin: 0 auto;
}

.home {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-links .home a:hover {
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0.3rem;
}

.external-links {
    list-style-type: none;
}

.external-links li {
    display: inline-block;
    padding: 0.3rem;
}

.nav-links li a {
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline #FF335F;
}

.nav-links li a.current-page {
    text-decoration: underline #2cb67d;
}

.nav-links li a.current-page:hover {
    text-decoration: underline #FF335F;
}

.external-links li a {
    text-decoration: none;
}

.github {
    color: #666;
}

.github:hover {
    text-decoration: underline #666;
}

.rss {
    color: #f26522;
}

.twitter {
    color: #00AACE;
}

.twitter:hover {
    text-decoration: underline  #00AACE;
}

.centered {
    text-align: center;
}

.posts ul {
    list-style-type: none;
    font-size: 1.6rem;
}

.post {
}

.post-title {
}

.tiny {
    font-size: 0.8rem;
}

.ttr {
    padding: 0.2rem;
    color: #585858;
}

.date {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #545454;
}

article {
    width: 70%;
    margin: 0 auto;
}

.sans {
    font-family: 'Alegreya Sans', Calibri, sans-serif;
}

.icon-link {
    color: #111
}

.heart {
    color: #f14668;
}

.coffee {
    color: hsl(9, 35%, 50%);
}

footer {
    color: #666;
}

.fleuron {
    margin: 0;
}

.paren {
    color: #2cb67d;
}

.tags {
    font-size: 1.2rem;
    color: #666;
}
