.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: var(--hl-foreground);
    background: var(--hl-background);
}

.hljs-comment,
.hljs-quote {
    color: var(--hl-comment);
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: var(--hl-foreground);
    font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: var(--hl-literal);
}

.hljs-string,
.hljs-doctag {
    color: var(--hl-string);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: var(--hl-title);
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    /* color: var(--hl-type); */
    /* font-weight: bold; */
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: var(--hl-tag);
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    /* color: var(--hl-regexp); */
}

.hljs-symbol,
.hljs-bullet {
  /* color: var(--hl-symbol); */
}

.hljs-built_in,
.hljs-builtin-name {
    /* color: var(--hl-builtin); */
}

.hljs-meta {
    /* color: var(--hl-meta); */
    /* font-weight: bold; */
}

.hljs-deletion {
    background: var(--hl-deletion);
}

.hljs-addition {
    background: var(--hl-addition);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
