article {
    padding: 1em 0;

    p:first-of-type {
        font-size: 1.6rem;
    }
}

/* Post metadata */

.article-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--gray);
}

/* tags */

.tag-link {
    padding: 0.2em;
    margin-right: 0.2em;
    background-color: var(--tag-color);
    border: 1px solid var(--tag-color);
    border-radius: .5rem;
}

.tag-link a {
    text-decoration: none;
    color: var(--light);
}

.tag-link a:hover {
    text-decoration: underline var(--light);
}

.tag-title {
    text-transform: capitalize;
}

/* quotes */

blockquote {
    font-size: 1rem;
    font-style: italic;

    &:before {
        content: open-quote;
        position: absolute;
        margin-top: -0.3rem;
        margin-left: -0.6rem;
        font-size: 2rem;
        font-style: normal;
        color: var(--gray);
    }

    &:after {
        content: close-quote;
        font-size: 2rem;
        font-style: normal;
        margin-left: -0.2rem;
        color: var(--gray);
    }

    p {
        display: inline;
    }
}

@media(max-width: 600px) {
    article {
        padding: 0;

        p:first-of-type {
            font-size: 1.6rem;
        }
    }

    .article-meta {
        flex-direction: column;
    }

    .article-meta .tags {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* posts list */

.posts {
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.post {
    padding: 0;
}

.post .post-meta {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.post h2 {
    margin: 0;
    padding: 0;
}

.ttr {
    color: var(--gray);
}

.date {
    text-transform: uppercase;
    color: var(--gray);
}
