@charset "UTF-8";

@import "normalize.css";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

:root {
    --primary-color: #FF335F;
    --secondary-color: #2cb67d;

    --background: #fffff8;
    --foreground: #111;

    --footer-bg: #fffff8;
    --footer-fg: #666;

    --gray: #666;
    --light: #EEE;

    --hl-foreground: #333;
    --hl-background: #F8F8F8;
    --hl-comment: #998;
    --hl-literal: #008080;
    --hl-string: #e2355a;
    --hl-title: #666;
    --hl-tag: #666;

    --twitter: #00AACE;
    --github: #181717;
    --mail: #8B89CC;
    /* --hl-type: #458; */
    /* --hl-regexp: #009926; */
    /* --hl-symbol: #990073; */
    /* --hl-builtin: #0086b3; */
    /* --hl-meta: #999; */
    /* --hl-deletion: #fdd; */
    /* --hl-addition: #dfd; */
}

body {
    font-family: 'Alegreya', Georgia, serif;
    background-color: var(--background);
    color: var(--foreground);
}

code, pre > code {
    font-family: 'Fira Code', Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
}

p > code {
    font-family: 'Fira Code', Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.2rem;
}

p,
ol,
ul {
    font-size: 1.4rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    line-height: 2rem;
    padding-right: 0;
    vertical-align: baseline;
}

a:link,
a:visited {
    color: inherit;
}
a:hover {
    text-decoration: underline var(--primary-color);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-style: italic;
    font-size: 1.6rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main {
    padding: 1rem;
}

/* text */

.tiny {
    font-size: 0.8rem;
}

.medium {
    font-size: 1.2rem;
}


.sans {
    font-family: 'Alegreya Sans', Calibri, sans-serif;
}

/* header */

header {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.home a {
    font-family: 'Fira Code', Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-decoration: none;
    font-size: 1.8rem;
}

.home a:hover {
    text-decoration: none;
}


a.current-page {
    text-decoration: underline var(--secondary-color);
}

a.current-page:hover {
    text-decoration: underline var(--primary-color);
}

.github {
    color: var(--github);
}

footer {
    color: var(--footer-fg);
    padding: 1.5rem 20% 1.5rem 20%;
    font-size: 1.4rem;
    background-color: var(--footer-bg);
    background:
        linear-gradient(
            var(--light),
            var(--footer-bg) 6rem,
            var(--footer-bg)
        );
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    padding: .2em 0;
}

footer h4 {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

footer p, footer ol, footer ul {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

footer a:hover {
    text-decoration: underline var(--secondary-color);
}

.about {
    width: 70%;
    text-align: justify;
}

.footer-links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

.social-links li {
    padding: .2rem;
}

.social-links li a {
    text-decoration: none;
}

.social-links .mail-link a:hover {
    color: var(--mail);
}

.social-links .twitter-link a:hover {
    color: var(--twitter);
}

.social-links .github-link a:hover {
    color: var(--github);
}

.icon {
    padding: .2rem;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.home {
    color: var(--secondary-color);
}

.home:hover {
    color: var(--primary-color);
}

.site-title {
    color: var(--foreground);
}

/* article */

article {
    padding: 1em 0;
}

article p:first-of-type {
    font-size: 1.6rem;
}

.article-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--gray);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-style: italic;
        font-size: 1.6rem;
    }

    p > code {
        font-size: 1rem;
    }

    p,
    ol,
    ul {
        font-size: 1.2rem;
    }

    article {
        padding: 0;
    }

    article p:first-of-type {
        font-size: 1.6rem;
    }

    .article-meta {
        flex-direction: column;
    }

    .article-meta .tags {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    footer {
        flex-direction: column;
    }

    .projects {
        flex-direction: column;
    }

    .about {
        width: 100%;
    }

    .footer-links {
        width: 100%;
        padding-top: 1rem;
    }

}

/* posts list */

.posts {
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.post {
    padding: 0;
}

.post .post-meta {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.post h2 {
    margin: 0;
    padding: 0;
}

.ttr {
    color: var(--gray);
}

.date {
    text-transform: uppercase;
    color: var(--gray);
}

/* tags */

.tag-link {
    padding: 0.2em;
    margin-right: 0.2em;
    background-color: var(--tag-color);
    border: 1px solid var(--tag-color);
    border-radius: .5rem;
}


.tag-link a {
    text-decoration: none;
    color: var(--light);
}

.tag-link a:hover {
    text-decoration: underline var(--light);
}

.tag-title {
    text-transform: capitalize;
}

/* Quotes */

blockquote {
    font-size: 1rem;
    font-style: italic;
}

blockquote:before {
    content: open-quote;
    position: absolute;
    margin-top: -0.3rem;
    margin-left: -0.6rem;
    font-size: 2rem;
    font-style: normal;
    color: var(--gray);
}

blockquote:after {
    content: close-quote;
    font-size: 2rem;
    font-style: normal;
    margin-left: -0.2rem;
    color: var(--gray);
}

blockquote p {
    display: inline;
}

/* Highlight.js styles */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: var(--hl-foreground);
    background: var(--hl-background);
}

.hljs-comment,
.hljs-quote {
    color: var(--hl-comment);
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: var(--hl-foreground);
    font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: var(--hl-literal);
}

.hljs-string,
.hljs-doctag {
    color: var(--hl-string);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: var(--hl-title);
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    /* color: var(--hl-type); */
    /* font-weight: bold; */
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: var(--hl-tag);
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    /* color: var(--hl-regexp); */
}

.hljs-symbol,
.hljs-bullet {
  /* color: var(--hl-symbol); */
}

.hljs-built_in,
.hljs-builtin-name {
    /* color: var(--hl-builtin); */
}

.hljs-meta {
    /* color: var(--hl-meta); */
    /* font-weight: bold; */
}

.hljs-deletion {
    background: var(--hl-deletion);
}

.hljs-addition {
    background: var(--hl-addition);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

/* projects */

.projects {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.project {
    padding: 1rem;
}

.project h2 {
    margin: 0;
    padding: 0;
}

.project p {
    margin: 0;
    padding: 0;
}

/* dark mode */

@media(prefers-color-scheme: dark) {
    :root {
        --primary-color: #2cb67d;
        --secondary-color: #FF335F;
        --background: #222;
        --foreground: #fffff8;

        --footer-bg: #222;
        --footer-fg: #EEE;

        --github: #CCC;
        --gray: #EEE;
        --light: #EEE;

        --hl-background: #333;
        --hl-foreground: #F8F8F8;
        --hl-literal: #99cccc;
        --hl-string: #34e49c;
        --hl-title: #CCC;
        --hl-tag: #AAA;
    }

    footer {
        background:
            linear-gradient(
                #181818,
                var(--footer-bg) 6rem,
                var(--footer-bg)
            );
    }
}
