@charset "UTF-8";

body {
    font-family: 'Alegreya', Georgia, serif;
    background-color: #fffff8;
    color: #111;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
}

.mono {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

p,
ol,
ul {
    font-size: 1.4rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    line-height: 2rem;
    padding-right: 0;
    vertical-align: baseline;
}

a:link,
a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline #FF335F;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-style: italic;
    font-size: 1.6rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.home {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-links .home a:hover {
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0.3rem;
}

.external-links {
    list-style-type: none;
}

.external-links li {
    display: inline-block;
    padding: 0.3rem;
}

.nav-links li a {
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline #FF335F;
}

.nav-links li a.current-page {
    text-decoration: underline #2cb67d;
}

.nav-links li a.current-page:hover {
    text-decoration: underline #FF335F;
}

.external-links li a {
    text-decoration: none;
}

.github {
    color: #666;
}

.centered {
    text-align: center;
}

.sans {
    font-family: 'Alegreya Sans', Calibri, sans-serif;
}

footer {
    color: #666;
}

.fleuron {
    margin: 0;
}

.paren {
    color: #2cb67d;
}

/* article */

article {
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
}

.article-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-ttr {
    font-size: 1.2rem;
    color: #585858;
}

.tags {
    font-size: 1.2rem;
    color: #666;
    margin-right: 1em;
}

/* posts list */

.posts h1 {
    font-size: 2.3rem;
}

.posts ul {
    list-style-type: none;
    font-size: 1.6rem;
}

.tiny {
    font-size: 0.8rem;
}

.ttr {
    padding: 0.2rem;
    color: #585858;
}

.date {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #545454;
}

/* about */

.about {
    width: 85%;
    margin: 0 auto;
}

/* tags */

.tag-link {
    text-decoration: none;
}

.tag-link:hover {
    text-decoration: none;
}
